{% extends 'base2.html' %}


{% block content %}


<div class="container">
   
<form action="{{url_for('controle_financeiro.cadastrousuarios')}}" method="post">
    <div class="row mt-3">
        <label for=""> Username</label>
        <input class= "form-control" type="text" name="username" id="" required>
    </div>
    <div class="row mt-3">
        <div class="row ">
        <label for="">Nome</label>
        <input class= "form-control" type="text" name="nome" required>
    </div>
    <div class="row mt-3">
        <div class="row ">
        <label for="sexo">Sexo</label>
        <select class= "form-control" name="sexo" id="" required>
            <option value="0" desabled>Selecione</option>
            <option value="1">Masculino</option>
            <option value="2">Feminino</option>
        </select>
    </div>
    <div class="row mt-3">
        <div class="row ">

        <h5>Categorias</h5>
        <div class="col-lg-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="" value="1" name="categorias">
                <label class="form-check-label" for="">Alimentação</label>
             </div>
             <div class="form-check form-check-inline">
               <input class=" form-check-input" type="checkbox" id="" value="2" name="categorias">
               <label class="form-check-label" for="">Diversão</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="" value="3" name="categorias">
               <label class="form-check-label" for="">Internet</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="" value="4" name="categorias">
               <label class="form-check-label" for="">Mercado</label>
             </div>
            
        </div>
        <div class="col-lg-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="" value="5" name="categorias">
                <label class="form-check-label" for="">Transporte</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="" value="6" name="categorias">
                  <label class="form-check-label" for="">Vestuário</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="" value="7" name="categorias">
                    <label class="form-check-label" for="">Estética</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="" value="8" name="categorias" >
                    <label class="form-check-label" for="">Academia</label>
                </div>
        </div>
        <div class="col-lg-6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="" value="9" name="categorias">
                <label class="form-check-label" for="">Saúde</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="" value="10 "name="categorias">
                <label class="form-check-label" for="">Educação</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="" value="11" name="categorias">
                <label class="form-check-label" for="">Serviços</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="" value="12" name="categorias">
                <label class="form-check-label" for="">Filhos</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="" value="13" name="categorias" >
              <label class="form-check-label" for="">Outros</label>
            </div>
        
        
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                <label for="">Data de Nascimento</label>
                <input class= "form-control"class="m-2"type="date" name = "data_nascimento" required>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <label for="">Email </label>
                <input class= "form-control" type="email" name="email" required>
            </div>
    
            <div class="col-lg-6">
                <label for="">Confirme seu email </label>
                <input class= "form-control" type="email">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <label for="">Senha </label>
                <input class= "form-control" type="password" name = "senha" required>
            </div>
    
            <div class="col-lg-6">
                <label for="">Confirme sua senha </label>
                <input class= "form-control" type="password">
            </div>
        </div>
        <div class="row mt-3">
            <label for="">Meios de pagamento</label>
            <input class="form-control" type="text" name = "meios" required placeholder="Coloque os métodos de pagamento separados por vírgulas e entre aspas ex: 'c6', 'Inter'...">
        </div>
        <div class="row mt-3">
            <button class= "btn btn-primary" type="submit">Cadastrar</button>
        </div>

    </form>
</div>
    
    











{% endblock %}