{% extends 'base.html' %}



{% block content %}

<div class="container">
    
    <h1>CADASTRO DE GASTOS</h1>
    <h1>{{didi[2].nome}}</h1>
    <form action="{{ url_for('controle_financeiro.cadastra', id= id) }}" method="POST" class="rounded">
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label for="data">Data</label>
                        <input class="form-control"type="date" name="data" id="data" required>
                    </div>
                    <div class="col-8">
                        <label for="">Descrição</label>
                        <input class="form-control" type="text" name="descricao" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="">Valor</label>
                        <input type="decimal" name="valor"  class="form-control" id="" required>
                    </div>

                    <div class="col-8">
                        <label for="">Categoria</label>
                        <select name="categoria" class="form-control" required>
                            <option value="" desabled>Selecione</option>
                           {% for cat in didi %}
                               <option value="{{cat['id']}}">{{ cat['categoria'] }}</option>
                                
                            {% endfor %}



                           
                                                        
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for=""> Parcela Atual</label>
                        <input type="number" name="parcela_atual" class="form-control" value="0">
                    </div>
                    <div class="col-3">
                        <label for=""> Total de Parcelas</label>
                        <input type="number" name="total_parcelas" class="form-control" value="0">
                    </div>
                    <div class="col-3">
                        <label for="">Cartão</label>
                        <select name="meio" id="" class="form-control" required>
                            {% for meio in didi2 %}
                            <option value="{{meio['id']}}">{{meio['nome']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="">Mês</label>
                        <input  class = "form-control" type="month" id="start" name="mes" min="2022-06" value="{{mes}}" required>
                
                    </div>
                
                <div class="row">
                    <div class="col">
                        <button type="submit" class="mt-3 btn btn-success">Enviar</button>
                    </div>
                </div>
            </div>    
        </form>
        </div>

    
    
    
    
    
    
    
    
    
    
    </div>

    

</div>






{% endblock %}