{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row d-flex w-100 justify-content-center ">
    <h1>Planilha de gastos</h1>
    <hr>
    <div class="row justify-content-center d-flex">
      <h1>Junho/2022</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">TOTAL</div>
        <div class="card-body">
        <h1>R${{total}}</h1>
        </div>
      </div>    
    </div>
    <div class="col-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">TOTAL INTER</div>
        <div class="card-body">
        <h1> R${{total_inter}} </h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">TOTAL PAN</div>
        <div class="card-body">
        <h1> R${{total_pan}} </h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">TOTAL C6</div>
        <div class="card-body">
        <h1>R${{total_c6}} </h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">TOTAL C6</div>
        <div class="card-body">
        
        </div>
      </div>
    </div>
   
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div id="donutchart" style="width: 900px; height: 500px;"></div>
      
    </div>
  </div>
</div>




<div class="container tabela">
    <table class="table  table-light striped table-hover">
        <thead>
          <tr>
              <td>id</td>
              <td>Data</td>
              <td>Descricao</td>
              <td>Valor</td>
              <td>Categoria</td>
              <td>Parcela Atual</td>
              <td>Total Parcelas</td>
              <td>cartao_id</td>
          </tr>
        </thead>
        <tbody>
        {% for gasto in gastos %}
        <tr>
          <td>{{gasto.id}}</td>
          <td>{{gasto.data}}</td>
          <td>{{gasto.descricao}}</td>
          <td>{{gasto.valor}}</td>
          <td>{{gasto.categoria2}}</td>
          <td>{{gasto.parcela_atual}}</td>
          <td>{{gasto.total_parcelas}}</td>
          <td>{{gasto.cartao_id}}</td>
        </tr>
        
        
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td>{{total}}</td>
          </tr>
        </tfoot>
      </table>
</div>





{% endblock %}