{% extends 'base2.html' %}

{% block content %}


<div class="container-fluid header">

<div class="container  align-items-center">
  
  <div class="row d-flex justify-content-end align-items-center linha1">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <h5 class="letras1 saudacao">
        Seja
        {% if current_user.sexo == '1' %}
        bem-vindo,
        {% else %}
        bem-vinda,
        {% endif %}
        {{ current_user.nome }}!</h5>
    </div>
    <div class="col-md-4 d-flex justify-content-end align-items-center">
      <a href="{{url_for('.cadastra', id = current_user.id)}}"><button class="letras1 btn-dark btn botoes">Cadastro de Gastos</button></a>
      <a href="{{url_for('.logout')}}"> <button class =" btn-dark btn botoes"> logout </button></a>
    </div>
  </div>



</div>
</div>







<div class="container primeira">
  <div class="row d-flex w-100 mt-3 linhaprimeira ">
   
   <div class="col-lg-9">
     <span id="labeltotal" class="letras1">Total do período</span>
     <p id="totalgeral">{{totalgeral}}</p>
   </div>
     
   <div class="col-lg-3">
     <form class="mt-2" action="{{url_for('controle_financeiro.controle_financeiro_home', id = current_user.id, mes = mes, ano = ano)}}" method="POST">
       <label class="letras1"for="">Mês/Ano</label>
       <h1 class="letras1">{{mes}}/{{ano}}</h1>
       <input  class = "form-control" type="month" id="start" name="mes" min="2022-06" value="">
       <button class="letras1 btn m-2 btn-dark" type="submit" >Refinar</button>
     </form>  
   </div>   
  </div>
  
  <hr>
</div>



<div class="container segundo">
  
  <div class="row">
    {% for m in totalmeio %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class=" cardy  mb-3 pt-2 meios" style="max-width: 18rem;">
          <div class="letras1">{{m["meio"]}}</div>
          <div class="card-body">
            <h1 class="letras1">{{m["total"]}}</h1>
          </div>
        </div>    
      </div>  
    {% endfor %}
  </div>
  <hr>
</div>



<div class="container mb-3 mt-3 cat linha3 ">
  <h2 id="porcat " class="tite letras1"> Gastos por categoria</h2>
  
  <div class="row">
  
    {% for c in totalcat%}

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 categoria d-flex justify-content-center">
      <div class=" cardy cardy2 pt-4 pb-3  mb-3" style="max-width: 18rem;">
        <div class="nome letras1">{{ c["categoria"] }}</div>
        <div class="card-body">
          <h3  class="letras1 totalclass">{{c["total"]}} </h3>
          <h1 class="letras1 d-inline">{{c["percentual"]}} </h1>
          <h1 class="letras1 d-inline">%</h1>
        </div>
      </div>
    </div>
    {% endfor %}
  
  </div>
    
  <hr class="linha2">
</div>    
    

  
  
  
  
  














<div class="container mt-5 d-block donut">
  <div class="row d-flex justify-content-center">
    <div class="col justify-content-center d-flex">
      <div id="donutchart" style="width: 900px; height: 500px;"></div>
    </div>
  </div>
  <hr>
</div>
    





<div class="container mb-5 tabela">
    <table class="table thead-dark  table striped table-hover">
        <thead class="">
          <tr class="bg-dark text-white" >
              <td>id</td>
              <td>Data</td>
              <td>Descrição</td>
              <td>Valor</td>
              <td>Categoria</td>
              <td>Parcela Atual</td>
              <td>Total Parcelas</td>
              <td>Cartão</td>
          </tr>
        </thead>
        <tbody>
        {% for gasto in gastos %}
        <tr>
          <td>{{gasto.id}}</td>
          <td>{{gasto.data}}</td>
          <td>{{gasto.descricao}}</td>
          <td>{{gasto.valor}}</td>
          <td>{{gasto.categoria}}</td>
          <td>{{gasto.parcela_atual}}</td>
          <td>{{gasto.total_parcelas}}</td>
          <td>{{gasto.meio}}</td>
        </tr>
        
        
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td>{{total}}</td>
          </tr>
        </tfoot>
      </table>
</div>

<div class="container-fluid rodape">

</div>




{% endblock %}