{% extends 'base.html' %}


{% block content %}

<div class="container">
    <form action="{{ url_for('controle_financeiro.login') }}" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuário</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Usuário" name="username">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="senha">
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>










{% endblock %}