body{
    border: 0%;
    margin: 0%;

}


.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(136, 84, 16);
    display: flex;
    border: 0%;
    margin: 0%;
}

.row{ 
    border: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    display:flex;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(97,45,253,1) 100%);
}
.centro {
    height: 300px;
    width: 300px;
    background-color: rgb(174, 230, 211);
    margin: auto;
    display: flex;
    border-radius: 50%;
    border-style:solid;
    border-color: rgb(77, 117, 17);
    border-width: 10px;
    
}

.green{
    color: rgb(77, 117, 17);
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
    margin:auto;

}