

{% block styles %}
<head>
    <link rel="stylesheet" href="{{ url_for('ceo.static', filename='ceo.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta name="google-site-verification" content="tvZtOLCLtsW9wIJXO_BJ5En9VOn9wZeDxqYHmgaAdz4" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   
    <script src="https://kit.fontawesome.com/393a22fbff.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Raleway:wght@100;200;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/393a22fbff.js" crossorigin="anonymous"></script>
    <link rel = "shortcut icon" type = "imagem/x-icon" href="../static/imagens/logo2.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Oswald&family=Raleway:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('controle_financeiro.static', filename='assets/scriptsFinancas.js')}}"></script>
    
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <title>Greenrocket Group</title>
</head>
{% endblock %}



{% block content %}
<body>
    
    
</body>
    {% endblock %}