{% extends './base3.html' %}



{% block content %}


<div class="main">


    <div class="apresentacao is-full">
        <div class="foto">
            <img src="" alt="">
        </div>
        <h1>Duzis Netto</h1>
        <p> I'm a web developer. I like to build applications and see them being rendered with all the logic implemented. I am so grateful that I found the thing I most enjoy doing.</p>
    
       <div class="botoes">
        <button onclick="location.href='https://www.linkedin.com/in/duzisnetto/'">LinkedIn</button>
        <button onclick="location.href='https://github.com/duzisnetto'">GitHub</button>
       </div>
    </div>
    



</div>
    
    




{% endblock %}