{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container align-self-center bg-danger w-50">
    <div class="row m-3">
        <div class="col-sm-4 d-block">
          <input type="text" class="form-control" placeholder="City" aria-label="City">
        </div>
        <div class="col-sm-4 d-block ">
          <input type="text" class="form-control" placeholder="State" aria-label="State">
        </div>
        <div class="col-sm-4 d-block">
          <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
        </div>
      </div>
</div>

  {% endblock %}