
{% extends 'base.html' %}


{% block content %}

<div class="body">
    <div class="linha0 container-fluid ">
        <nav class="navbar navbar-expand ">
            <div class="container">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">Menu</span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-house"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-people-group"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-helmet-safety"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    
    <div class="linha1 linha container-fluid ">
        <div class="meiuca">
            <center>
                <div class="logo">
                    <img src="static/imagens/logo.png" class="" alt="Responsive image">
                </div>    
            </center>  
            
            <div class="row">
                <div class="texto d-inline-block">
                    <p>"Se, a princípio, a ideia não é absurda, então não há esperança para ela."</p>
                    <p>Albert Einstein</p>
                </div>
                <div class="d-inline-block justify-self-end">
                    <img src="static/imagens/banner2.png" class="menina" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    
</div>   



{% endblock %}
