{% extends 'base.html' %}


{% block content %}

<div class=" header m-auto ">
  <div class="linha2  mb-5 ">
    <div class="centro2 justify-content-center" >
      <div class="row amarra align-items-center justify-content-center">
        <center>
          <div class="logodobanner col-sm-12 col-12 col-xl-12 p-2 col-lg-12 col-md-12 ">
            <img class="imglogo" src="static/imagens/logo2.png" alt="Figura do Foguete">
          </div>
        </center>
          <div class="conteudo ml-3  p-3 pt-1 col-sm-5 col-12  col-xl-4 col-lg-6 col-md-12 ">
            <h1 class="fonte-gigante pl-3">Seja bem-vindo a Greenrocket</h1>
            <p class=" fonte-media pl-3">A Greenrocket é uma empresa baiana de tecnologia que hoje abraça desafios de machine learning para soluções digitais. </p>
          </div>
      </div>          
    </div>
  </div>
</div>    



<div class="linha3 w-100 justify-content-center container-fluid">
  
  <div class="titulosessao w-100 container">
    <div class="row">
      <h2 class="fonte-grande mr-4">Nossos esforços em inovação</h2>
    </div>
  </div>
    

  <div class=" p-3 card1 container ">
    <div class="row">
      <div class="col-6">
        <img class="card-img d-inline mt-3 cardimg " src="static/imagens/robo.jpg" alt="Imagem de capa do card">
      </div>
      <div class="card-body d-inline col-5  align-items-center m-auto">
        <h5 class="card-title fonte-media">Inteligência Programada</h5>
        <p class="card-text fonte-pequena">Com a crescente demanda para software inteligentes, a empresa se propõe a entregar sistemas construídos com o que há de mais atual no mercado.</p>
      </div>
    </div>
  </div>
               
  
  <div class="card2 container  p-3 mt-5">
    <div class="row">
      <div class="col-6 m-auto" >
        <h5 class="card-title fonte-media">Nosso DNA</h5>
        <p class="card-text fonte-pequena">
          Os projetos que estão em desenvolvimento pela greenrocket possuem, como regra, a inovação em seu DNA. Com isso, nossa empresa busca através das mais recentes tecnologias, trazer soluções precisas para tarefas que mergulhem em um mundo abundante de dados.</p>
        </p>
      </div>
      
      <div class="col-6 d-inline">
        <img class="card-img d-inline mt-3 cardimg" src="static/imagens/server.jpg" alt="Imagem de capa do card">
      </div>
   
    </div>
  
  </div>
  <div class="card3 container p-3 mt-5">
    <div class="row">
      <div class="col-6">
        <img class="card-img mt-3 cardimg" src="static/imagens/estatistica.png" alt="Imagem de capa do card">
      </div>
      
      <div class="col-6 card-body m-auto">
        <h5 class="card-title fonte-media">Estatística Aplicada</h5>
        <p class="card-text fonte-pequena">Tudo o que fazemos tem o machine learning em foco, mostrando nosso diferencial ao se apropriar da estatística, modelos econométricos, para entregar produtos inovadores com um alto poder de gerenciamento de dados independente de sua origem endógena ou exógena.</p>
      </div>
    </div>
  </div>

</div>           
  



    <div class="linha5 w-100 justify-content-center container-fluid">
        <div class="row centro5 justify-content-center m-auto">
            <h2 class="fonte-grande pt-3">Um pequeno glossário</h2>
            <div class="row justify-content-center">
                <div class="col-12 mt-5">
                  <div class="  list-group" id="list-tab" role="tablist">
                    <a class=" fonte-media tudo list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">O que é Machine Learning</a>
                    <a class="fonte-media tudo list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">O que é Data Science</a>
                   
                  </div>
                </div>
                <div class="col-12">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active p-5" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <p class="tudo fonte-pequena"> É uma aplicação da inteligência artificial, consistindo em algoritmos que produzem conhecimento para uma máquina adequar suas tarefas. Um algoritmo de ML coleta um conjunto de dados de entrada, identifica padrões e gera saídas. As entradas de dados possuem seus próprios recursos e a abundância desses recursos é fundamental para qualquer algoritmo de ML.
                            Nossos sistemas são arquitetados para potencializar a obtenção das features das entradas de dados, ao ponto de se aproveitar da inteligência criada para gerenciar as saídas de dados que estão por todo o sistema.
                        </p>
                    </div>
                    <div class="tab-pane fade p-5 "  id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <p class="tudo fonte-pequena">                           
                        Data Science, ou em português, ciência de dados é uma ferramenta que se baseia no estudo disciplinado dos dados e informações a partir da análise de dados. Para isso, essa ciência foca na captura de informações, na transformação desses dados, e até mesmo, em sua geração.
                        Data Science se apropria das ferramentas computacionais, da estatística, lógica matemática e do conhecimento do Negócio para produzir conhecimento, o qual pode ser utilizado nas mais diversas formas, sendo uma forte aliada para a condução de qualquer tipo de negócio. 
                        </p>    
                    </div>
                  </div>
                </div>
              </div>
        </div>

    </div>

    <div class="linha6 w-100 justify-content-center container-fluid">
        <div class="centro6">
            <div class="card" style="">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="tudo card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="tudo card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        
    </div>
    </div>




















{% endblock %}