{% extends "bootstrap/base.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css')   }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


{% endblock %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="centro col-sm-5">
            <h2 class="green">bora, lethicia?
            </h2>
        </div>
    </div>
</div>






{% endblock %}