{% extends 'base.html' %}


{% block content %}
<div class="container d-block mx-auto bg-dark text-white mt-5 p-5 rounded " >
    <div class="row">
        <div class="col">
            <h2>Queremos te conhecer melhor. :)</h2>
        </div>
    </div>
    
    <form action="{{ url_for('visitas') }}" method="POST">
        <div class="row">
            <div class="col-12">
                <label for="">Diga-nos o seu nome.</label>
            </div>
            <div class="col-12">
                <input name="nome" class="form-control" type="text">
            </div> 
        </div>    
        <div class="row">
            <div class="col-12">
                <label for="">Informe o seu email.</label>
            </div>
            <div class="col-12 ">
                <input name="email" class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Informe o seu telefone.</label>
            </div>
            <div class="col-12 ">
                <input name="telefone" class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Qual é o seu objetivo?</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select name="objetivo" class="form-control" id="">
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="1"> Site pessoal ou institucional</option>
                    <option value="2"> Aplicação web</option>
                    <option value="3"> Aplicativo</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="" for="">Qual é a sua profissão ou área do seu negócio?</label>
                <input type="text" name="negocio" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Tem preferência por um design minimalista?</label>
            </div>
        </div>
        
       
        <div class="row">    
            <div class="col-3 form-check ml-5">
                <input class="form-check-input" name="minimalista" type="radio" name="minimalista"  placeholder="Sim">
                <label class="form-check-label" for="Sim">Sim</label>
            </div>
            <div class="col-3 form-check">
                <input class="form-check-input" type="radio" name="minimalista" id=""  placeholder="Não">
                <label class="form-check-label"for="Não">Não</label>
            </div>
        </div>    
        <div class="row">
            <button type="submit"  class="btn btn-success p-2 m-3">Enviar</button>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Nós entraremos em contato com você. <br> Se preferir, você pode entrar em contato com a gente atavés do nosso número de WhatsApp.</h4>
            </div>
        </div>
    </form>

    
</div>








{% endblock %}